<div id="movies-container">
    {% if not movies %}
    <h2>Sorry {{ user }}, you currently have no movies registered!</h2>

    {% else %}
    <h2>Hey {{ user }}, here are your movies!</h2>

    {% for movie_id, movie in movies.items() %}


    <div class="movies">
        <h3>{{ movie.get("title") }}</h3>
        <ul class="movie-properties">
            <li>Director: {{movie.get("director") }}</li>
            <li>Year: {{movie.get("year") }}</li>
            <li>Rating: {{movie.get("rating") }}</li>
        </ul>
        <form id="form-update-delete-movie" action="{{ url_for('delete_movie', user_id=user_id, movie_id=movie_id) }}"
            method="post">
            <a href="{{ url_for('update_movie_details', user_id=user_id, movie_id=movie_id) }}">Update</a>
            <button class="del-btn" type="submit">Delete</button>
        </form>
    </div>


    {% endfor %}
    {% endif %}

</div>