<div id="movies-container">
    <h2>Hey {{ user }}, these are your movies!</h2>
    <a href="{{ url_for('add_movie', user_id=user_id) }}">Add Movie</a>
    {% for movie_id, movie in movies.items() %}
    <div class="movies">
        <h3>{{movie.get("name") }}</h3>
        <a href="{{ url_for('update_movie_details', user_id=user_id, movie_id=movie_id) }}">Update</a>
        <ul class="movie-properties">
            <li>Director: {{movie.get("director") }}</li>
            <li>Year: {{movie.get("year") }}</li>
            <li>Rating: {{movie.get("rating") }}</li>
        </ul>
    </div>
    {% endfor %}
</div>