<form id="form-update-movie" action="{{ url_for('update_movie_details', user_id=user_id, movie_id=movie_id) }}"
    method="post">
    <label for="director">Director</label>
    <input type="text" name="director" value="{{ movie.get('director') }}" placeholder="{{ movie.get('director') }}"
        required>

    <label for="year">Year</label>
    <input type="number" name="year" value="{{ movie.get('year') }}" placeholder="{{ movie.get('year') }}" required>

    <label for="rating">Rating</label>
    <input type="number" step="0.1" name="rating" value="{{ movie.get('rating') }}"
        placeholder="{{ movie.get('rating') }}" required>

    <button type="submit">Update {{ movie.get("title") }}</button>
</form>