@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

:root {
    --bluish-gray: #3f5765;
    --dark-bluish-gray: #2b3a42;
    --neon-orange: #ff530d;
    --silver-blue: #bdd4de;
    --white: #efefef;
}

/* Global Styles (index.html) */

html {
    font-size: 32px;
    background-color: black;
    font-family: "Kaushan Script", cursive;
}

body {
    margin: 0;
    height: auto;
    background-color: var(--dark-bluish-gray);
    color: var(--neon-orange);

    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: var(--bluish-gray);
    border-radius: 0 0 20px 20px;
}

h1 {
    font-size: 1.7rem;
    color: #bdd4de;
    background-color: #3f5765;
}

h2 {
    font-size: 1rem;
    margin-top: 0;
    border-bottom: solid 1px var(--neon-orange);
}

h3 {
    font-size: 1rem;
    margin-bottom: 0px;
    color: var(--silver-blue);
    text-decoration: underline;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1.5rem;

    .nav-links {
        display: flex;
        justify-content: space-between;
        width: 508px;

        & a {
            font-size: 0.8rem;
            padding: 15px;
            border-bottom: solid 0.5px var(--silver-blue);
            border-radius: 0.1rem;
        }
    }
}

button {
    font: inherit;
    font-size: 0.6rem;
    background: none;
    padding: 0;
    border: none;
    cursor: pointer;
    color: var(--silver-blue);
}

.add-btn {
    margin-left: 5px;

    &:hover {
        color: forestgreen;
        text-decoration: underline;
    }
}

.update-btn {
    &:hover {
        color: forestgreen;
        text-decoration: underline;
    }
}

.del-btn {
    &:hover {
        color: firebrick;
        text-decoration: underline;
    }
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
}

form {
    display: flex;
    flex-direction: row;
}

a {
    font-size: 0.6rem;
    text-decoration: none;
    color: var(--silver-blue);
    transition: color 0.3s ease;
}

a:hover {
    color: var(--white);
    text-decoration: underline;
}

ul {
    padding: 0;
    text-align: center;
}

textarea {
    width: 12rem;
    resize: vertical;
}

footer {
    background-color: var(--bluish-gray);
    height: 100px;
    margin-top: 1rem;
    padding: 10px;
    text-align: center;
    border-radius: 20px 20px 0 0;
}

/* --- HTML file specific styles --- */

/* Add User */

.add-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

/* List User */

#list-users-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    #add-user-btn {
        text-align: left;
        padding-left: 0.5rem;
    }

    #user-list {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 30px;
        border: solid 1px black;
        box-shadow: 0 0 1rem;

        .user-element {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 20px 0;
        }
    }
}

.form-user-and-delete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

    flex-grow: 0;
    width: 12rem;
    padding: 30px;
    border: solid 1px black;
    border-radius: 15px;
    white-space: nowrap;

    & * {
        width: 33%;
    }
}

/* Add Movie */

.add-movie-container {
    position: absolute;
}

/* List Movies */

#movies-container {
    display: flex;
    flex-direction: column;

    #add-movie-btn {
        margin-bottom: 1rem;
        text-align: left;
        padding-left: 10px;
    }
}

.movies {
    outline: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
    padding: 0.5rem;
    box-shadow: 0 0 1rem;
}

#form-update-delete-movie {
    padding: 0.4rem;
    display: flex;
    justify-content: space-between;
    border-top: solid 1px black;
}

.user-element-container > * {
    font-size: 0.5rem;
}

.movie-properties {
    color: var(--silver-blue);
    text-align: left;
    margin-left: 5px;

    & li {
        list-style-type: disc;
        display: flex;
        text-align: left;
        font-size: 0.7rem;
    }
}

/* Update Movie */

#form-update-movie {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 10px;

    & label {
        color: var(--silver-blue);
        margin: 0.5rem 0;
        border-bottom: solid 1px var(--silver-blue);
    }
}

/* Success Message */

#success-message {
    display: flex;
}

/* Error Message */

.error-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;

    .error-message {
        font-family: Arial, Helvetica, sans-serif;
    }
}
