<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Movie Web App to manage your favorite movies">
    <link rel="icon" href="../static/icons/movie.svg" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <title>{{ title }}</title>
</head>

<body>
    <header>
        <h1>Movie Web App</h1>
    </header>
    <nav>
        <div class="nav-links">
            <a id="home" href="{{ url_for('list_all_users') }}">Home</a>
            <a href="{{ url_for('add_user') }}">Add User</a>
        </div>
    </nav>
    <main>
        {% block content %}
        <!-- Depending on the route, include the corresponding content -->

        {% if content_type == "home" %}
        {% include "user_templates/list-users.html" %}

        {% elif content_type == "list_movies" %}
        {% include "movie_templates/list-movies.html" %}

        {% elif content_type == "add_user" %}
        {% include "user_templates/add-user.html" %}

        {% elif content_type == "add_movie" %}
        {% include "movie_templates/add-movie.html" %}

        {% elif content_type == "update_movie" %}
        {% include "movie_templates/update-movie.html" %}

        {% elif content_type == "delete_movie" %}
        {% include "movie_templates/delete-movie.html" %}

        {% elif content_type == "add_review" %}
        {% include "movie_templates/add-review.html" %}

        {% else %}
        {% include "success.html" %}

        {% endif %}
        {% endblock %}
    </main>
    <footer></footer>
</body>

</html>